@layer base {

  :root {
    --bottomLayerColor: #262624;
    --bottomLayerHighlight: #424242;
    --sans: "Open Sans", sans-serif;
    font-family: var(--sans);

    /* Font Scale */
    --base-size: 1rem;
    --scale: 1.25;
    --h1: calc(var(--h2) * var(--scale));
    /* 3.66rem */
    --h2: calc(var(--h3) * var(--scale));
    /* 2.93rem */
    --h3: calc(var(--h4) * var(--scale));
    /* 2.34rem */
    --h4: calc(var(--h5) * var(--scale));
    /* 1.875rem */
    --h5: calc(var(--h6) * var(--scale));
    /* 1.5rem */
    --h6: var(--base-size);
    /* 1.2rem */
    --small: calc(var(--base-size) / var(--scale));
    --xSmall: calc(var(--small) / var(--scale));
    /* 0.96rem */
    --radius: 5px;
  }

  html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* scroll-snap-type: y mandatory; */
  }

  .content {
    overflow: hidden;
    position: fixed;
    inset: 0;
    --contrast: 4;
    --blur: 0.5rem;
  }

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 400;
    margin: 0;
  }

  body {
    font-family: var(--sans);
    line-height: 1.5;
    font-size: var(--base-size);
    padding: 0;
    margin: 0;
  }

  .backgroundContainer {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(var(--bottomLayerColor), var(--bottomLayerHighlight));
    background-repeat: no-repeat;
  }

  .back2 {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, #C8C870 0%, #DE2424 100%);
    opacity: 0.6;
  }

  header {
    position: fixed;
    display: flex;
    width: 100vw;
    align-items: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    font-weight: 600;
    padding: 12px 25px;
    text-align: center;
    text-shadow: -2px -1px 4px rgba(24 24 24 / 0.35);
    box-shadow: -3px -2px 15px rgba(27 26 26 / 0.2);
    border: 1px outset rgba(0, 0, 0, 0.3);
    border-radius: 15px 15px 15px 15px;
    z-index: 10;
  }
}

.appListContainer {
  display: flex;
  gap: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 5rem;
  /* border: 1px solid black; */
}

@media only screen and (max-width: 450px) and (orientation: portrait) {

  .appListContainer {
    margin-top: 8rem;
    flex-wrap: wrap;
    overflow: scroll;
    ;
  }
}